
<div class="container">
    <h1><img src="https://images.ctfassets.net/h8q6lxmb5akt/5qXnOINbPrHKXWa42m6NOa/421ab176b501f5bdae71290a8002545c/nba-logo_2x.png"  style="width: 100px;">NBA Data Trend Analysis </h1>    
    <ul>
        <li>Ethan Alexander</li>
        <li>Joseph Cuenco</li>
        <li>Martin Kent</li>
        <li>Derek Meyer</li>
        <li>Alexander Vargas</li>
    </ul>

    <br>
    <h3 class="heading">Explore the latest statistics, trends, and insights from the NBA with our interactive database, including:</h3>    
    <ul class="list" >
        <br>
        <li>
            <div class="list-item-content"><strong>Customizable Queries:</strong> Tailor your searches to specific teams, players, seasons, and more.</div>
        </li>
        <br>
        <li>
            <div class="list-item-content"><strong>Visualizations:</strong> Gain deeper insights through dynamic graphs.</div>
        </li>
        <br>
        <li>
            <div class="list-item-content"><strong>User-Friendly Interface:</strong> Easily navigate through the database with our intuitive design.</div>
        </li>
    </ul>
    
        
    <button class="btn btn-dark" (click)="navigateToQueryPage()">Create a Query</button> 
    <div class="d-flex justify-content-center p-2 mt-2">
        <div>
            <button class="btn btn-dark" (click)="getNumberOfTuples()">Get Total Number of Tuples</button> 
        </div>
        @if (numberOfTuples> 0) {
            <div class="ms-3 mt-1">
                {{ numberOfTuples.toLocaleString()}} !
            </div>
        }
    </div>
</div>
