#playerInput {
    padding: 6px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: rgba(6, 5, 0, 0)
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}