<!-- replace with common query graphs
consider making the graphs themselves the buttons
redirect to the visualization page for more details on the graph -->


<div class="grid-container">
    <div class="graph-container">
        <app-chart [queryNumber]="0"></app-chart>
    </div>
    <div class="graph-container">
        <app-chart [queryNumber]="1"></app-chart>
    </div>
    <div class="graph-container">
        <app-chart [queryNumber]="2"></app-chart>
    </div>
    <button class="graph-button btn btn-dark" (click)="onClick0()">Compare First Overall Picks</button>
    <button class="graph-button btn btn-dark" (click)="onClick1()">League Averages Per Decade</button>
    <button class="graph-button btn btn-dark" (click)="onClick2()">Compare Stats By Position</button>
</div>
