<!-- replace with common query graphs
consider making the graphs themselves the buttons
redirect to the visualization page for more details on the graph -->


<div class="grid-container">
    <div class="graph-container">
        <app-visualization></app-visualization>
    </div>
    <div class="graph-container">
        <app-visualization></app-visualization>
    </div>
    <div class="graph-container">
        <app-visualization></app-visualization>
    </div>
    <button class="graph-button">Graph 1</button>
    <button class="graph-button">Graph 2</button>
    <button class="graph-button">Graph 3</button>
</div>
