<nav class="navbar navbar-expand navbar-dark bg-dark">

    <div class="container d-flex justify-content-center">

        <div class="navbar-nav me-auto">
            <a class="navbar-brand mx-auto">NBA Trends</a>
        </div>

        <div class="navbar-nav ms-auto">
            <a class="nav-item nav-link" routerLink="/form">Query</a>
            <a class="nav-item nav-link" routerLink="/visualization">Visualization</a>
            <a class="nav-item nav-link" routerLink="/">About</a>
        </div>
    </div>
</nav>